/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2018, 1:50:59 PM
    Author     : psomani
*/

table, th, td {
   
    border: 1px solid black;
    
}
th {
     background-color: #4CAF50;
}

th, td {
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}


.addEmp  {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.addEmp:hover {
    background-color: #006633;
}