/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 24, 2018, 11:30:46 AM
    Author     : psomani
*/

table, th, td {
    border: 1px solid black;
}

th {
    background-color: #000066;
    color: white;    
}

th, td {
    text-align: center;
    padding: 8px;
}

a {
    color: white;
}

a:hover {
    color: pink;
}

.aempid-link {
    color: black;
}

.emp-table-header {
    color: white;
}

.ed-header {
    background-color: #000066;
    color: white; 
}

.addEmp  {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
}

.addEmp:hover {
    background-color: #006633;
}

/*to make card looks */
h4 {
    text-align: center;
    background-color: rgba(45, 45, 45, 0.1);
    padding: 10px;
    font-size: 27px;
}
p {
    text-align: justify;
}
.links {
    text-align: left;
    color: black;

}
#thumbnail {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.fullCard {
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
}
.cardContent {
    padding: 10px;
}
.cardText {
    margin-bottom: 30px;
}

table, th, td {
    border: 1px solid black;
    align-content: center;
}

th, td {
    text-align: center;
    padding: 10px;
}

.ed-header {
    background-color: #000066;
    color: white; 
}
.aempid-link {
    color: black;
}